/* animation */
@keyframes up {
    from { /* Onde começa */
        opacity: 0;
        transform: translateY(16px);
    }

    to { /* Onde termina */
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-up {
    animation-name: up;
    animation-duration: 900ms;
    animation-fill-mode: backwards;
}
